<main>
  <h1>Cadastro de Usuário</h1>

  <form action="/usuarios/novo" method="post">
    <div>
      <label for="nickname">Nickname</label>
      <input type="text" name="nickname" id="nickname" />
    </div>
    <div>
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" />
    </div>
    <div>
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="submit" value="Enviar" />
  </form>
</main>